.list{
  margin-top: 50px;
}
.list li{
 
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid var(--grey);
}
.li-info-wrapper{
  display: flex;
  align-items: center;
}
.li-info-wrapper span{
  margin-left: 0.5rem;
  font-size: 1.2rem;
}
