@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark: #212529;
  --white: #fff;
  --grey: #e3e3e3;
  --blue: #164ea0;
  --glow: #e60073;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--blue);
}
#root {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  min-height: 100vh;

  background-color: var(--white);
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format('woff2');
  font-display: swap;
}
